
// [ PAGE ]
section.create {
    height: auto;
    padding: 10px 0;
    background: $grey;
    border-radius: 5px;
    margin-bottom: 30px;
    @include flex-align(def, def, column);
}

// user photo
.create .user-ava {
    display: block;
    width: 120px; height: 120px;
    border-radius: 120px;
    overflow: hidden;
    @include flex-align(def, def, column);

    img { 
        width: 100%;
    }
}
// user name
.create .user-name {
    color: $d-grey;
    font-size: 1.7rem;
    padding: 0; margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $d-white;
}

.create .user-logout {
    color: $d-grey;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
        opacity: 0.8;
    }
}